body{
    background-color: rgba(16, 23, 25, 1);
    margin: 0px;
}

/* ===>bloco de animações: inicio<===*/


/* ===>bloco de animações: fim<===*/



/* ===>bloco de estilização do cabeçalho e parte superior do código: inicio <===*/

.cabecalho{
    text-align: center;
}


.botoes_portifolio{
    display: flex;
    justify-content: center;
    height: 90px;
    align-content: center;
    gap: 50px;
    width:auto;
    padding: 20px;
    background-color: rgba(243, 70, 22, 1);

        .botao_sobre_mim{
            width: 200px;
            height: 57px;
            color: #fff;
            background-color: rgba(3, 22, 38, 1);
            font-size: 24px;
            border: 0px;
            border-radius: 5px;
        }

        .botao_meus_projetos{
            width: 200px;
            height: 57px;
            color: #fff;
            background-color: rgba(3, 22, 38, 1);
            font-size: 24px;
            border: 0px;
            border-radius: 5px;
        }

        .botao_habilidades{
            width: 200px;
            height: 57px;
            color: #fff;
            background-color: rgba(3, 22, 38, 1);
            font-size: 24px;
            border: 0px;
            border-radius: 5px;
        }

        .botao_contato{
            width: 200px;
            height: 57px;
            color: #fff;
            background-color: rgba(3, 22, 38, 1);
            font-size: 24px;
            border: 0px;
            border-radius: 5px;
        }
}


.identificacao{
    margin-top: 40px;
    text-align: center;
    color: #fff;
    animation:typing;
        .boas_vindas{
            font-size: 38px;
        }
        
        .meu_nome{
            font-size: 60px;
        }
        
        .meu_trabalho{
            font-size: 32px;
        }
}
/* ===>bloco de estilização do cabeçalho e parte superior do código: fim <===*/


/* ===>bloco de estilização da seção "sobre mim": inicio <===*/
.sobre_mim{
    color: #fff;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 90px;

    .titulo_sobre_mim{
        text-align: justify;
        font-size: 40px;
    }

    .texto_sobre_mim{
        padding-left: 30px;
        text-align: justify;
        font-size: 30px;
        overflow: auto;
    }

    .palavras_importantes{
        color:rgba(243, 70, 22, 1) ;
    }


    .minha_imagem{
        width: 350px;
        height: 400px;
        margin-left: 50px;
        float: inline-end;
        border-radius: 25px;
    }
}
/* ===>bloco de estilização da seção "sobre mim": fim <===*/

/* ===>bloco de estilização da seção "Projetos": inicio <===*/

.secao_projetos{
    margin-top: 90px;
    color: #fff;

    .titulo_projetos{
        font-size: 38px;
        text-align: center;
    }

    .apresentacao_dos_projetos{
        padding-left: 30px;
        font-size: 35px;
        margin-top: 25px
    }
}

/* ===>bloco de estilização da seção "Projetos": fim <===*/