<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mateus Andrade</title>
    <link rel="stylesheet" href="/Static/style.css">
</head>

<body>
    
    <header class="cabeçalho">
        

    </header>

  <section class="boas-vindas" id="welcome">  

        <h1 class="apresentacao">Muito Prazer em conhecê-lo
            <br> Eu me chamo: <br>  
            Mateus da Anunciação Andrade
        </h1>
        <div class="botões">
            <input type="button" class="sobre_mim" id="about_me_button"  value="sobre mim">
            <input type="button" class="habilidades" id="skills_button" value="habilidades">
            <input type="button" class="projetos" id="projects" value="projetos">
            <input type="button" class="contato"  id="contact" value="contato">
        </div>
    </section>

    <h1 class="sobre-mim-texto"  id="about_me">
        Sobre mim:
        <img src="/Static\20240307_100212-removebg-preview.png" alt="Mateus Da Anunciação Andrade" class="imagem_pessoal">
            <p>
                Olá eu sou Mateus tenho 23 anos e sou um grande adepto da tecnologia, disposto a melhorar cada vez mais o processo da vida através dos mais modernos métodos tecnológicos.
                <br>
                <br>
                Desde a adolescência, já com certa aptidão e familiaridade com computadores e tecnologia, aprendendo e desenvolvendo rápido aquilo que me propunha a fazer.
                <br>
                <br>
                Atualmente, estou me dedicando a estudar e a aprender a linguagem de programação python e tecnologias front-end com planos de ser um desenvolvedor Full Stack.
            </p>
    </h1>

    <h2 class="habilidades_texto" id="skills">
        Habilidades:
            <p>
            algumas das minhas habilidades estão listadas ao lado,<br> clique no botão abaixo para que elas apareçam: 
            </p>
        <input type="button" class="botão_acionador_habilidades" id="btn_skills">

        <div class="icones_skills" id="icons_skills">
            <img src="/Static/Icones/algoritmo.png" alt="algoritmo" class="algoritmo_icone" id="icon_algorit">
            <img src="/Static/Icones/html5.png" alt="html" class="html_icone" id="html_icon">
            <img src="/Static/Icones/css3.png" alt="css" class="css_icone" id="css_icon">
            <img src="/Static/Icones/js.png" alt="JavaScrip" class="js_icone" id="js_icon">
            <img src="/Static/Icones/python.png" alt="python" class="py_icone" id="py_icon">
            <img src="/Static/Icones/mysql.png" alt="mysql" class="mysql_icone" id="mysql_icon">
        </div>

    </h2>


    
    <footer class="rodape">
        <p class="texto_rodape">
            &#169; por Mateus Da A. Andrade
        </p>
    </footer>

    <script src="/Script/script.js"></script>
</body>
</html>