<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mateus Andrade</title>
    <link rel="stylesheet" href="/Static/style.css">
</head>

<body>
    
    <header class="cabeçalho">
        

    </header>

  <section class="boas-vindas" id="welcome">  

        <h1>Muito Prazer em conhecê-lo
            <br> Eu me chamo: <br>  
            Mateus da Anunciação Andrade
        </h1>

        <div class="botões" id="bottons">

            <input type="button" class="sobre_mim" id="about_me"  value="sobre mim">
            <input type="button" class="habilidades" id="skills" value="habilidades">
            <input type="button" class="projetos" id="projects" value="projetos">
            <input type="button" class="contato"  id="contact" value="contato">
    
        </div>

    </section>

    



  
    

</body>
</html>