<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mateus Andrade</title>
    <link rel="stylesheet" href="/Static/style.css">
</head>

<body>
    
    <section class="cabecalho">

        <div class="botoes_portifolio">
            <input type="button" value="sobre mim" class="botao_sobre_mim">
            <input type="button" value="projetos" class="botao_meus_projetos">
            <input type="button" value="habilidades" class="botao_habilidades">
            <input type="button" value="contato" class="botao_contato">
        </div>

    </section>



    
    <section class="identificacao">

            <h1 class="boas_vindas">
                Bem-Vindo! Eu sou:
            </h1>

            <p class="meu_nome">
                Mateus da Anunciação Andrade
            </p>

            <p class="meu_trabalho">
                desenvolvedor web
            </p>
    </section>


    <section class="sobre_mim">

        <h1 class="titulo_sobre_mim">
            Quem eu sou?
        </h1>

        <p class="texto_sobre_mim">
            
            <img class="minha_imagem" src="/Static\20240307_100212-removebg-preview.png" alt="minha foto pessoal">

            Muito prazer! Eu sou Mateus tenho 23 anos e sou um grande adepto da tecnologia, disposto a melhorar cada vez mais o processo da vida através dos mais modernos métodos tecnológicos.
            
            Desde a adolescência, já com certa aptidão e familiaridade com computadores e tecnologia, aprendendo e desenvolvendo rápido aquilo que me propunha a fazer.
            
            Atualmente, estou me dedicando a estudar e a aprender a linguagem de programação <span class="palavras_importantes">python</span> e tecnologias <span class="palavras_importantes">front-end</span> com planos de ser um <span class="palavras_importantes">desenvolvedor Full Stack.</span>
        </p>


        <section class="secao_projetos">
            <h2 class="titulo_projetos">
                Projetos
            </h2>

            <p class="apresentacao_dos_projetos">
                EM BREVE!
            </p>
        </section>
        

    </section>


</body>
</html>